
h1,h2,h3,h4,h5,h6,div,td,thead
{
	color:black;
}

.btn-responsive 
{
    white-space: normal !important;
    word-wrap: break-word;
}

#FooterHidden
{
    display: none;
}

.navbar
{
	border-radius:0px; 
	background-color:lightblue; 
	border-style:none;
}


#head
{
 background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
